@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  /* ### Primary */

  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  /* ### Neutral */

  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  /* Font */
  --fs: 16px;

  --ff-primary: "DM Serif Display", serif;
  --fw-secondary: "Karla", sans-serif;

  --fw-400: 400;
  --fw-700: 700;
}
